@import '../pages/index.scss';

.pill {
    display: flex;
    margin: 0.5rem;
    height: fit-content;
    border: 2px solid;
    align-items: center;
    padding: 0.2em;
}

.pill-icon {
    height: 1.2rem;
}

.pill-text {
    padding-left: .5em;
    font-size: 1.1rem;
    line-height: 1.1;
}